:root {
  --primary: #6366F1;
  --primary-light: #A5B4FC;
  --primary-dark: #3730A3;
  --primary-hover: #6267f1;

  --secondary: #14B8A6;
  --secondary-light: #5EEAD4;
  --secondary-dark: #0F766E;

  --accent: #F59E42;
  --accent-light: #FFD8A8;
  --accent-dark: #e73331;

  --background: #F9FAFB;
  --background-alt: #FFFFFF;
  --surface: #F3F4F6;
  --editor-style : #1e1e1e;

  --text: #111827;
  --text-light: #6B7280;
  --text-inverse: #FFFFFF;

  --success: #22C55E;
  --warning: #FACC15;
  --error: #EF4444;
  --muted: #9CA3AF;
}
